:root {
    --window-background: #1e1f22;
    --darker-background: #111214;
    --screen-width: 1280px;
    --screen-height: 1024px;
}

* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;

}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
}

#screen {
    background-color: rgb(255, 255, 255);
    width: var(--screen-width);
    height: var(--screen-height);
    min-width: var(--screen-width);
    min-height: var(--screen-height);
    position: relative;
}

.window {
    background-color: var(--window-background);
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--window-background);
    border-top: white solid 1px;
    border-left: white solid 1px;
    border-right: black solid 1px;
    border-bottom: black solid 1px;
}

.windowbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    border-bottom: 1px solid black;
}

.windowbar button {
    width: 20px;
    height: 19px;
    background: none;
    border: none;
    border-left: 1px solid black;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.windowbar .leftbutton {
    border: none;
    border-right: 1px solid black;
}

.windowbar button img {
    width: 18px;
    height: 18px;
}

.fullscreen {
    top: 0;
    left: 0;
    width: var(--screen-width);
    height: var(--screen-height);
}